<%= display(tt('menu'))%></br>
<div ng-app="app" ng-controller='menusController' ng-init="initialize()">
  <script type="text/ng-template" id="actions">
    <a class="btn btn-primary" ng-click="item.edit_option=true"><%=tt('add_option')%></a>         
    <a class="btn btn-primary" ng-click="new_task(item)"><%=tt('add_child')%></a> 
    <a class="btn btn-primary" ng-click="edit_task(item)"><%=tt('edit_task')%></a>          
    <a class="btn btn-primary" ng-click="show_task(item)"><%=tt('show_edit')%></a>
  </script> 
  <script type="text/ng-template" id="task_and_actions">
    {{item.name}},url={{item.url}}                  
    <span ng-show="item.showDelete">
      <div ng-include="'actions'"></div>  
    </span> 
  </script>  
  <script type="text/ng-template" id="edit_task">
    <div ng-if="item.id">
      <%= tt('edit_task')%>
    </div>
    <div ng-if="item.id === undefined">
      <%= tt('add_child')%>
    </div>    
    <%=tt('name')%>:
    <input type="text" ng-model="item.name" size="60"></br>
    <span vertical-align='text-top;'><%=tt('description')%></span>:    
    <textarea  cols="60" rows="3" ng-model="item.description"></textarea>
    </br>
    <div ng-if="item.id === undefined || item.id != root_id" class='well'>
    <!--Add or edit a new sub task-->
      <%=tt('type')%>:
      <ul>
        <li ng-repeat="type in types" >
          <input type="radio" ng-model="$parent.item.type_id" value="{{type.id}}"/>
          {{type.name}}
        </li>
      </ul> 
  
    </div><!--Add a new sub task-->
    <div ng-if="item.id && item.id === root_id" class='well' >
    <!--Edit Root task-->    
      <%=tt('group')%>:
      <span ng-repeat="group in groups">
        <input type="radio" ng-model="$parent.group_id" value="{{group.id}}"/>
        {{group.name}}
      </span> </br>
    </div><!--Edit Root task-->

    <a class="btn btn-primary" ng-click="save_task(item)"><%=tt('save')%></a>
    <a class="btn btn-danger"  ng-click="hide_form(item)"><%=tt('cancel')%></a>
  </script>   

  
  <script type="text/ng-template" id="user_name">
      <%= tt('author') %>:{{opt.user_name}}    
  </script> 
  <script type="text/ng-template" id="option_area">
  <!-- Comment out
      Type_id:{{item.type_id}}</br>
      radios:{{answers_radio}}</br> 
      cboxes:{{cboxes_cbox}}</br> 
      options:{{options}}</br> 
      options:{{options[item.id]}}</br>        
  --> 

    <span ng-show="item.show_save_answer">
      <a class="btn btn-primary" ng-click="save_answers(item)"><%=tt('save_option')%></a>
    </span>         
    <div ng-if="select_two(item.type_id)">
      <%= tt('please_select') %>                              
      <ol><li ng-repeat="opt in options[item.id]">
        <input type="checkbox" checklist-model="answers_cbox" checklist-value="opt.id" ng-change="item.show_save_answer=true" ng-model="opt.isChecked" > {{opt.name}}&nbsp;,&nbsp;{{opt.user_name}}                      
      </li></ol>      
    </div> 
    <div ng-if="select_one(item.type_id)">
      <%= tt('please_select') %>
      <ul><li ng-repeat="opt in options[item.id]" >
        <input type="radio" ng-model="$parent.answers_radio[item.id]" ng-change="item.show_save_answer=true" value="{{opt.id}}"/>
        {{opt.name}}&nbsp;,&nbsp;{{opt.user_name}}
      </li></ul> 
    </div>
    <div ng-if="input_only(item.type_id)">
      <%= tt('collected') %>  
      <ul><li ng-repeat="opt in options[item.id]" >
        {{opt.name}}&nbsp;,&nbsp;{{opt.user_name}}
      </li></ul> 
    </div>    
  </script> 
  <!--The following is the main content -->
  <script type="text/ng-template" id="taskTree">
    <div class='well' 
    ng-mouseenter="item.showDelete=true" 
    ng-mouseleave="item.showDelete=false" 
    ng-swipe-left="item.showDelete=true" 
    ng-swipe-right="item.showDelete=false">
      <div ng-include="'task_and_actions'"></div>          
    </div> 
    <div class='well' ng-show="item.show_form_task">
      <div ng-include="'edit_task'"></div>       
    </div>    

    <div ng-if="options[item.id].length>0" class='well' 
    ng-mouseenter="item.showOptionAction=true" 
    ng-mouseleave="item.showOptionAction=false" 
    ng-swipe-left="item.showOptionAction=true" 
    ng-swipe-right="item.showOptionAction=false">
      <div ng-include="'option_area'"></div>        
    </div> 
    <ol ng-if="item.kids">
      <li ng-repeat="item in item.kids" ng-include="'taskTree'">
      </li>
    </ol>
  </script>
  <ul>
    <li ng-repeat="item in menus" ng-include="'taskTree'"></li>
  </ul> 
</div>

