<%= display(tt('task_count'))%></br>
<div ng-app="app" ng-controller='option_countsController' ng-init="initialize('<%= @root_id %>,<%= @user_id %>')"> 
  <script type="text/ng-template" id="taskTree">
    <div class='well' ng-mouseenter="item.showDelete=true" ng-mouseleave="item.showDelete=false">
      {{item.name}}&nbsp;:&nbsp;{{item.user_vname}}
      <span ng-show="item.showDelete">
      <a class="btn btn-primary" ng-click="show_vote=!show_vote"><%=tt('count')%></a> 
      </span>
    </div> 
    <div ng-if="show_vote && options[item.id].length>0">
      <div ng-if="[4,5,6,7].indexOf(item.type_id) > -1">      
        <table class="table table-striped table-bordered table-condensed table-responsive table-hover">    
          <tr><td><%=tt('option')%></td>
               <td><%=tt('count')%></td> 
          </tr>         
          <ol>
            <tr ng-repeat="opt in options[item.id]">
            <td>{{opt.name}}</td><td>{{opt.vote}}</td> 
            </tr>
          </ol>   
        </table> 
 
        <%=tt('answer_user')%></br>
        <table class="table table-striped table-bordered table-condensed table-responsive table-hover">    
          <tr><td>{{item.name}}</td>
               <td><%=tt('user')%></td> 
          </tr>         
          <ol>
            <tr ng-repeat="answer in answers[item.id]">
            <td>{{answer.opt_name}}</td><td>{{answer.vname}}</td> 
            </tr>
          </ol>   
        </table>                 
      </div> 
      <div ng-if="[4,5,6,7].indexOf(item.type_id) == -1">      
        <table class="table table-striped table-bordered table-condensed">    
          <tr><td><%=tt('input')%></td>
               <td><%=tt('user')%></td> 
          </tr>         
          <ol>
            <tr ng-repeat="opt in options[item.id]">
            <td>{{opt.name}}</td><td>{{opt.user_name}}</td> 
            </tr>
          </ol>   
        </table>   
      </div></br>
    </div>   
    <ol ng-if="item.kids">
      <li ng-repeat="item in item.kids" ng-include="'taskTree'">
      </li>
    </ol>
  </script>
  <ul>
    <li ng-repeat="item in items" ng-include="'taskTree'"></li>
  </ul> 

  <div ng-if="has_data(tids_input)">    
    <%= tt('collected') %> </br>
    <table class="table table-striped table-bordered table-condensed table-responsive table-hover"> 
    <tr>
      <td><%=tt('user')%></td>
      <td ng-repeat="(uid,tname) in tids_input">{{tname}}</td>
    </tr>       
    <tr ng-repeat="opt_by_uid in opt_by_uid_task"> 
      {{opt_by_uid}}
      <td ng-repeat="(uid,tname) in tids_input" ng-if="$first">        
        {{opt_by_uid['vname']}}
      </td>     
      <td ng-repeat="(uid,tname) in tids_input">        
        {{opt_by_uid[uid]}}
      </td>      
    </tr>
    </table>
  </div>
</div>