<%= page_header(nil,tts('task_common option')) %>
<% columns=['name'] %>
<table class="table table-striped table-bordered table-condensed">
<thead><tr>
<td><%= tt('task_common') %></td>
<td><%= tt('option') %></td>
<td><%= tt('user') %></td>
<th width='140px'><a href='#'><%= tt('actions') %></a></th>
</tr></thead>
<tbody>
<% if @objs.size > 0 %>
  <% for obj in @objs %>  
    <tr> 
          <td><%= obj.task.name %></td>
          <td><%= obj.name %></td>
          <td><%= obj.user.vname %></td> 
      <td><%= edit_delete(obj.id,'task_options') %></td>                 
    </tr>
  <% end %>
<% else %>
    <tr><td colspan='10'><%= tt('empty') %></td></tr>
<% end %>
</tbody></table>
<%#= debug columns %>
<%#= debug captions %>