<% ns=get_namespace() %>
<%if ns.nil?%>
<% obj_ns=@obj %>
<% else %>
<% obj_ns=[ns,@obj] %>
<% end %>
<%= page_header(nil,tt('edit_task')) %>
<div class="breadcrumb" >
  <%= semantic_bootstrap_nested_form_for obj_ns do |f| %>
    <%= f.inputs do %>
      <%= f.label tt('parent')+':'+ @pobj.name if @pobj%>
      <%= f.input :pid,:as => :hidden %>      
      <%= f.input :name,label:tt('name') %>
      <%= f.input :description, label:tt('description'),input_html:{class:'autogrow', rows:3 } %>             
      <% if @obj.pid %>
        <div class='well'>
        <%= f_input(f,'type_id:r','type',@types) %> 
        </div>
      <% else %>
        <div class='well'>    
        <%= f_input(f,'groups:r','group',@my_groups)%>
        </div>        
      <% end %>      
      <% if @obj.id.nil? %>       
      <%#= f.input :active, label:tt('active') %>
      <%#= f.input :public, label:tt('public') %>
      <% else %>
      <%#= f.input(:order_by, label:tt('order_by'))%>
      <% end %>                                       
    <% end %>
    <%= button_submit(f) %>
  <% end %>
</div>
